html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: $font-s;
  font-family: Inter, sans-serif;
  font-weight: 400;
  color: $white;
  line-height: 1.3;

  h1 {
    font-size: $font-heading;
    font-weight: 600;
  }

  &.noscroll {
    overflow: hidden;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .btn {
    padding: 1rem;
    background-color: $grey;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
    transition:
            color 300ms ease-in-out,
            background-color 300ms ease-in-out;

    &:hover {
      background-color: $green;
      color: $darkGrey;
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    color: $offBlack;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}