// Colors
$green: hsl(75, 94%, 57%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 20%);
$darkGrey: hsl(0, 0%, 12%);
$offBlack: hsl(0, 0%, 8%);


$font-heading: 1.25rem; // 20px
$font-m: 1rem; // 16px
$font-s: 0.875rem; // 12px